PORT=3001
DB_URL=mongodb://localhost:27017/visitkadb
CURATORS=akamordin@yandex.ru,ruslan@yandex.ru
JWT_SECRET=super-strong-secret
CLIENT_ID=0d0269a6229646fd80810a3e32e9474a
CLIENT_SECRET=8847ed159ae145359e42f322434a57d3
CALLBACK_URL=
