PORT=3001
DB_URL=mongodb://localhost:27017/visitkadb
CURATORS=akamordin@yandex.ru,ruslan@yandex.ru
JWT_SECRET=super-strong-secret
CLIENT_ID=34dc361ad7634dafb404a30c260f80a3
CLIENT_SECRET=3691aceb62aa468693759fd82b1fef1e
