.map {
  width: 99.9%;
  min-width: 320px;
  height: calc(100vh - (72px + 112px));
  min-height: 100%;
}
.markerInfoContainer {
  background-color: transparent;
  min-height: 54px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.markerContainer {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 5px gray;
}

.markerHeaderContainer {
  display: flex;
  padding: 3px 6px 2px;
  gap: 4px;
}

h1 {
  width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.markerHeader {
  white-space: nowrap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #100c34;
}
.markerPlace {
  margin: 0 0 4px 34px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a3a3a3;
  white-space: nowrap;
}

.markerAva {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.balloonBody{
  text-decoration: none;
  color: black;
}
.balloonBody:hover{
  color: gray;
}

@media screen and (max-width: 1024px) {
  .map {
    height: calc(100vh - (72px + 96px));
  }
}

@media screen and (max-width: 480px) {
  .map {
    height: calc(100vh - (72px + 80px));
  }
}
