.footer {
  position: fixed;
  bottom: 0;
  padding: 24px 40px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid rgba(16, 12, 52, 0.3);
  margin: 0 auto;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(16, 12, 52, 0.5);
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 24px 32px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 24px;
  }
}
