.section {
  display: flex;
  justify-content: center;
}

.container {
  margin: 194px 24px 024px;
  width: 439px;
  text-align: center;
}

.header {
  margin: 0;
  margin-bottom: 72px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 32px;
    margin-bottom: 32px;
  }
}